@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Lato', sans-serif;
    padding: 30px;
    background: #eaeaea
}


/**************/

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.clock-box {
    max-width: 300px;
    margin: auto
}

.clock-box h4 {
    background: #e11837;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 10px;
    font-size: 14px;
    margin: 0
}

.d-flex {
    display: flex;
    justify-content: space-between;
    list-style-type: none
}

.clock-box li {
    width: 33%;
    background: green;
    color: #fff;
    background: #d31734;
    text-align: center;
}

.clock-box li p {
    font-size: 56px;
    margin: 0;
}

.clock-box li span {
    background: #bc0d27;
    display: block;
    padding: 5px
}


/******option 2********/

.digital-clock-card {
    background: #fff;
    padding: 30px 30px;
    box-shadow: 0px 0px 5px #ddd;
    width: 300px;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.digital-clock {
    background: #ddd;
    padding: 20px;
    border-radius: 5px
}